<table>
  <tbody>
    {{#each filteredPlaces}}
    <tr>
      <td><a href="/admin/{{this._id}}/validate" class="btn btn-outline-primary">Validate</a></td>
      <td><a href="/admin/{{this._id}}/delete" class="btn btn-outline-danger">Delete</a></td>
      <td> {{this.name}}</td>
      <td>{{this.address}}</td>
      <td>{{this.postCode}}</td>
      <td>{{this.description}}</td>
      <td> {{this.neighbourhood}}</td>
      <td>{{this.pictureURL}}</td>
      <td>{{this.contactNumb}}</td>
      <td>{{this.websiteURL}}</td>
      <td>{{this.category}}</td>
      <td>{{this.group}}</td>
      <td>{{this.warning}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
