<h1 class="category-title">All {{category}}s</h1>

{{#each places}}
<div class="card d-inline-flex" style="width: 18rem;">
    <img src="{{this.pictureURL}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">{{this.warning}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <p><a target="_blank" href="https://www.google.com/maps/place/{{this.address}}, {{this.postCode}}, {{this.neighbourhood}}">{{this.address}} <br>
            {{this.postCode}} <br>
            {{this.neighbourhood}}</a></p>
        </li>
        <li class="list-group-item">{{this.contactNumb}}</li>
    </ul>
    <div class="card-body">
        <a href="{{this.websiteURL}}" class="card-link" target="_blank">{{this.websiteURL}}</a>
    </div>
</div>
{{/each}}
{{!-- 
<div class="card-deck">
  <div class="card">
    <img src="{{this.pictureURL}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div> --}}