<body>

  <section class="sign m-auto container ">

    <form class="sign form-user-profile">
      <h1 class="ml-2 mb-5">User Profile</h1>

      <section class="md-4 mb-3 m-auto w-100 d-flex justify-content-center ">
        <div>
          <div class=" " style="border:none;"><img class="profile-img" src="{{user.picture}}" /></div>
          <a class="font-view pt-3" href="/profile-edit">Edit your profile</a>
        </div>
        <div class="border-0 d-flex align-items-center">
          <div class="d-flex flex-column justify-content-center">
            <span class="mr-sm-2 font-view border-0 text-center"> {{user.name}} {{user.lastName}}</span>
            <span class="mr-sm-2 font-view border-0 text-center"> @ {{user.username}}</span>
            <span class="mr-sm-2 font-view border-0 text-center"> 📍 {{user.location}} </span>
          </div>
        </div>
      </section>

      <section class="sign m-auto container">
        <table class="ml-10  border-0" style="margin-top: 50px;">
          <tbody class="border-box">
            <tr>
              <th class="div-style border-box" id="th">Pet name</th>
              <td class="about-table border-box">{{user.pet}}</td>
            </tr>
            <tr>
              <th class="div-style border-box" id="th">About your Pet</th>
              <td class="about-table border-box">{{user.aboutPet}}</td>
            </tr>
            <tr>
              <th class="div-style border-box" id="th">About me</th>
              <td class="about-table border-box">{{user.description}}</td>
            </tr>
            <tr>
              <th class="div-style border-box" id="th">How many pets do you have?</th>
              <td class="about-table border-box">{{user.numbPet}}</td>
            </tr>
          </tbody>
        </table>