<body style="background-color: lightgrey;">

  <section class="container ">

    <form class="sign form-user-profile">

      <a href="/profile-edit">Edit your profile</a>
      <br>
      <h1 class="mt-5">User Profile</h1>
      <br>

      <table class="table-bordered ml-10 border border-0 w-100">
        <tbody class="border border-0 d-flex flex-column ">
          <td class="p-2">{{user.name}}</td>
          <td class="p-2">@ {{user.username}}</td>
          <td  class="p-2" style="border: none;"><img class="profile-img" src="{{user.picture}}" /></td>
        </tbody>
      </table>

  
      <table class="table-bordered ml-10 border border-0">
        <tbody class="border border-0">
          {{!-- <tr>
            <th class="th-style">Name</th>
            <td class="th-style">{{user.name}}</td>
          </tr> --}}
          <tr>
            <th class="th-style">Last Name</th>
            <td class="th-style">{{user.lastname}}</td>
          </tr>
          {{!-- <tr>
            <th class="th-style">Location</th>
            <td class="th-style">{{user.location}}</td>
          </tr> --}}
          {{!-- <tr>
            <th class="th-style">Let us know more about you</th>
            <td class="th-style">{{user.description}}</td>
          </tr> --}}
          <tr>
            <th class="th-style">Pet name</th>
            <td class="th-style">{{user.pet}}</td>
          </tr>
          <tr>
            <th class="th-style">How many pets do you have?</th>
            <td>{{user.numbPet}}</td>
          </tr>
          <tr>
            <th class="th-style">About your Pet</th>
            <td>{{user.aboutPet}}</td>
          </tr>
        </tbody>
      </table>




      {{!-- <div class="form-group"> --}}
      {{!-- <span class="input-group-text" style="display:initial;" id="inputGroupPrepend">Name</span> --}}
      {{!-- <label for="exampleFormControlFile1" class="view-profile">{{user.name}}</label> --}}
      {{!-- </div> --}}
      {{!-- <br> --}}
      {{!-- <div class="form-group"> --}}
      {{!-- <span class="input-group-text" style="display:initial;" id="inputGroupPrepend">Last Name</span> --}}
      {{!-- <label for="exampleFormControlFile1" class="view-profile">{{user.lastName}}</label> --}}
      {{!-- </div> --}}
      {{!-- <br> --}}
      {{!-- <div class="form-group"> --}}
      {{!-- <span class="input-group-text" style="display:initial;" id="inputGroupPrepend">@</span> --}}
      {{!-- <label for="exampleFormControlFile1" class="view-profile">{{user.username}}</label> --}}
      {{!-- </div> --}}
      {{!-- <br> --}}
      {{!-- <div class="form-group"> --}}
      {{!-- <span class="input-group-text" style="display:initial;" id="inputGroupPrepend">Location</span> --}}
      {{!-- <label for="exampleFormControlFile1" class="view-profile">{{user.location}}</label> --}}
      {{!-- </div> --}}
      {{!-- <br> --}}
      {{!-- <div class="form-group"> --}}
      {{!-- <span class="input-group-text" style="display:initial;" id="inputGroupPrepend">Description</span> --}}
      {{!-- <label for="exampleFormControlFile1" class="view-profile">{{user.description}}</label> --}}
      {{!-- </div> --}}
      {{!-- <br> --}}
      {{!-- <div class="form-group"> --}}
      {{!-- <span class="input-group-text" style="display:initial;" id="inputGroupPrepend">Pet Name</span> --}}
      {{!-- <label for="exampleFormControlFile1" class="view-profile">{{user.pet}}</label> --}}
      {{!-- </div> --}}
      {{!-- <br> --}}
      {{!-- <div class="form-group"> --}}
      {{!-- <span class="input-group-text" style="display:initial;" id="inputGroupPrepend">Number of Pets</span> --}}
      {{!-- <label for="exampleFormControlFile1" class="view-profile">{{user.numbPet}}</label> --}}
      {{!-- </div> --}}
      {{!-- <br> --}}
      {{!-- <div class="form-group"> --}}
      {{!-- <span class="input-group-text" style="display:initial;" id="inputGroupPrepend">About Pet</span> --}}
      {{!-- <label for="exampleFormControlFile1" class="view-profile">{{user.aboutPet}}</label> --}}
      {{!-- </div> --}}
      {{!-- </form> --}}
      {{!-- </section> --}}