<form action="/profile-edit" method="POST">
  <section class="profile">
    <h1>User Profile</h1>

    <br>
    <div class="form-group">
      <label for="exampleFormControlFile1">Example file input</label>
      <input  enctype="multipart/form-data" action="/upload" name="picture" type="file" class="form-control-file" id="exampleFormControlFile1"
        value="{{userFromDB.picture}}">
        
    </div>
    <div class="md-4 mb-3">
      <label for="validationCustomUsername">Username</label>
      <div class="input-group" style="  width: 33%;">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend">@</span>
        </div>
        <input name="username" type="text" class="form-control" id="validationCustomUsername" placeholder="Username"
          value="{{userFromDB.username}}" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Please choose a username.
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationCustom01">First name</label>
        <input name="name" type="text" class="form-control" id="validationCustom01" placeholder="First name"
          value="{{userFromDB.name}}">
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationCustom02">Last name</label>
        <input name="lastName" type="text" class="form-control" id="validationCustom02" placeholder="Last name"
          value="{{userFromDB.lastName}}">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">City</label>
        <input name="location" type="text" class="form-control" id="validationCustom03" placeholder="City"
          value="{{userFromDB.location}}">
        <div class="invalid-feedback">
          Please provide a valid city.
        </div>
      </div>
    </div>
    <br>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" value="{{userFromDB.description}}">Description</span>
      </div>
      <textarea name="description" class="form-control" aria-label="With textarea"></textarea>
    </div>
    <br>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" value="{{userFromDB.aboutPet}}">About My Pet</span>
      </div>
      <textarea name="aboutPet" class="form-control" aria-label="With textarea"></textarea>
    </div>
    <div class="form-row align-items-center">
      <div class="col-auto my-1">
        <label class="mr-sm-2" for="inlineFormCustomSelect">How many pets do you have?</label>
        <select value="{{userFromDB.numbPet}}" name="numbPet" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
          <option selected>Choose...</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>More</option>
        </select>
      </div>
    </div>
    <div>
      <br>
      <button class="btn btn-primary" type="submit">Save</button>
    </div>

</form>
{{!-- 
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script> --}}
</section>

{{!-- {{userFromDB.picture}} --}}

</body>