<body style="background-color: lightgrey;">

  <section class="profile">
    <a href="/profile-edit">Edit your profile</a>

    <form>
      <h1>User Profile</h1>
      <div class="form-group">
        <label for="exampleFormControlFile1" class="view-profile"><img src="{{userFromDB.picture}}"></label>
      </div>
      <br>
      <div class="form-group">
        <span class="input-group-text" style="display:initial;" id="inputGroupPrepend">Name</span>
        <label for="exampleFormControlFile1" class="view-profile">{{userFromDB.name}}</label>
      </div>
      <br>
      <div class="form-group">
        <span class="input-group-text" style="display:initial;" id="inputGroupPrepend">Last Name</span>
        <label for="exampleFormControlFile1" class="view-profile">{{userFromDB.lastName}}</label>
      </div>
      <br>
      <div class="form-group">
        <span class="input-group-text" style="display:initial;" id="inputGroupPrepend">@</span>
        <label for="exampleFormControlFile1" class="view-profile">{{userFromDB.username}}</label>
      </div>
      <br>
      <div class="form-group">
        <span class="input-group-text" style="display:initial;" id="inputGroupPrepend">Location</span>
        <label for="exampleFormControlFile1" class="view-profile">{{userFromDB.location}}</label>
      </div>
      <br>
      <div class="form-group">
        <span class="input-group-text" style="display:initial;" id="inputGroupPrepend">Description</span>
        <label for="exampleFormControlFile1" class="view-profile">{{userFromDB.description}}</label>
      </div>
      <br>
      <div class="form-group">
        <span class="input-group-text" style="display:initial;" id="inputGroupPrepend">Pet Name</span>
        <label for="exampleFormControlFile1" class="view-profile">{{userFromDB.pet}}</label>
      </div>
      <br>
      <div class="form-group">
        <span class="input-group-text" style="display:initial;" id="inputGroupPrepend">Number of Pets</span>
        <label for="exampleFormControlFile1" class="view-profile">{{userFromDB.numbPet}}</label>
      </div>
      <br>
      <div class="form-group">
        <span class="input-group-text" style="display:initial;" id="inputGroupPrepend">About Pet</span>
        <label for="exampleFormControlFile1" class="view-profile">{{userFromDB.aboutPet}}</label>
      </div>
    </form>
  </section>