<h1>Veterinarians</h1>

{{!-- {{#each places}}
    name: {{this.name}}
    pictureURL: <img src="{{this.pictureURL}}">
    address: {{this.address}}
    postCode: {{this.postCode}}
    neighbourhood: {{this.neighbourhood}}
    contactNumb: {{this.contactNumb}}
    websiteURL: {{this.websiteURL}}
    category: {{this.category}},
    description: {{this.description}},
    warning: {{this.warning}}
{{/each}} --}}

{{#each places}}
<div class="card d-inline-flex" style="width: 18rem;">
    <img src="{{this.pictureURL}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">{{this.warning}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <p>{{this.address}}</p>
            <p>{{this.postCode}}</p>
            <p>{{this.neighbourhood}}</p>
        </li>
        <li class="list-group-item">{{this.contactNumb}}</li>
    </ul>
    <div class="card-body">
        <a href="{{this.websiteURL}}" class="card-link text-info" target="_blank">{{this.websiteURL}}</a>
    </div>
</div>
{{/each}}